<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-resident-modal">
  <%= t('.new') %>
</button>
<div>
  <div class="modal" tabindex="-1" id="new-resident-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= t('.new_resident') %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="new-resident-form-wrapper">
          <%= render partial: 'form', locals: {  resident: Resident.new } %>
        </div>
      </div>
    </div>
  </div>
</div>
